	<!DOCTYPE html>
	<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
	  header {
	        background-color: #666;
	        padding: 2px;
	        text-align: center;
	        font-size: 20px;
	        color: white;
	    }
		</style>
	<header>
	    <h1>TomTom India Hackathon</h1>
	</header>
<center>
<h1>Enter your Login details</h1>
	<form id="form-user" action='/login_val' method="post">
	<div>
		<label >Name * <span>:</span></label>
	    <input style="margin-left: 65px" type="text" name="nm"/>
	</div>
	    <br>
	    <br>
	 <div>
	    <label >Contact Number <span> * :</span></label>
	    <input type="tel" name="con"/>
	</div>
	<br>
	<br>
	<button class="button" type ="submit"><span>Submit </span></button>

	</center>
		</head>
	</html>