	<!DOCTYPE html>
	<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style type="text/css">
	  header {
	        background-color: #666;
	        padding: 2px;
	        text-align: center;
	        font-size: 20px;
	        color: white;
	    }


	</style>

	<header>
	    <h1>TomTom India Hackathon</h1>
	</header>
	<center>
	<h1>Enter your details</h1>

	<form id="form-user" action='/user' method="post">
	<div>
		<label >Name * <span>:</span></label>
	    <input style="margin-left: 65px" type="text"/>
	</div>
	    <br>
	    <br>
	 <div>
	    <label >Contact Number <span> * :</span></label>
	    <input type="tel"/>
	</div>
	<br>
	<br>
		<div>
	    <label style="margin-right: 9px" >Enter Address <span> * :</span></label>
	    <button style="margin-right: 40px;margin-left: 19px">Access Location</button>
<br>
	</div>


	<center>

	</head>
	</html>