<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">
  header {
        background-color: #666;
        padding: 2px;
        text-align: center;
        font-size: 20px;
        color: white;
    }
</style>
</head>
<header>
    <h1>TomTom India Hackathon</h1>
	<h2>On Demand Garbage Collection</h2>
</header>

<form id="form-savedetails" action='/user' method="">
<center>
<h1> Your Details are Saved Successfully<h1>
<h2> Click below button to navigate to main menu</h2>
<button class="button" type ="submit"><span>Go to main menu</span></button>
</center>
 

</html>